.first {
	background-color: chartreuse;
}

#second {
	background-color: blue;
}

#third {
	background-color:coral;
}

#fourth {
	background-color: olive;
	text-align: center;
}

body p {
	font-size: 2em;
}

h1 {
	font-size: 5em;
	text-align: center;}

div {
	font-size: 3em;
		text-align: center;
}

div div{
	font-size: 0.5em;
		text-align: center;
}

table{
	font-size: 1em;
		text-align: center;
}

#formula {
	text-align: center;
}